.project-overlay {
  display: none;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__head {
    height: 84px;
    background-color: $white;
    width: 100vw;
    box-shadow: 0 0.5px 2px #999999;
    position: absolute;
    left: 0;
    top: 0;

    &-content {
      max-width: 700px;
      margin: 0 auto;

      h1 {
        font-size: $font-giant;
        margin-top: 20px;
        font-weight: 400;
        letter-spacing: 1px;
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        height: 84px;
        width: 84px;
        background-color: $white;
        font-size: $font-giant;
        font-color: $text-dark;
        font-weight: 100;

        &:hover {
          background-color: $light-gray;
          cursor: pointer;
        }
      }
    }
  }

  &__body {
    padding-top: 84px;
    background-color: $white;
    width: 100%;
    margin: 0 auto;

    p {
      max-width: 600px;
      margin: 0 auto;
      line-height: 1.5em;
    }

    a {
      margin: 10px 0;
      color: $text-dark;
      font-size: $font-md;
      position: relative;
      display: inline-block;

      &:hover {
        text-decoration: none;
        color: $medium-gray;
      }
    }

    h2 {
      width: 80%;
      max-width: 600px;
      text-align: left;
      display: block;
      margin: 20px auto;
      letter-spacing: 1px;
    }

    &-content {
      padding: 20px 0;
      padding-bottom: 100px;
      width: 100%;
      height: calc(100vh - 84px);
      overflow-y: scroll;

      div:last-child {
        margin-bottom: 50px;
      }
    }
  }

  &__text {
    padding: 10px 0;
  }

  &__link {
    max-width: 600px;
    margin: 0 auto;
  }

  &__img {
    height: 40vh;
    min-height: 350px;
    width: 100%;
    max-height: 300px;
    padding: 5px 0;
    margin: 10px 0 10px 0;

    img {
      height: 100%;
      max-width: 600px;
      margin: 0 auto;
      display: block;
    }
  }

  &--open {
    display: block;
  }
}

p.project-overlay__subtext {
  padding: 10px 0 10px 0;
  color: $semi-dark-gray;
  font-size: $font-md;
  max-width: 500px;
  position: relative;

  &:before {
    position: absolute;
    content: "◊";
    top: 10px;
    left: -10px;
  }
}
