* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-gradient: linear-gradient(133deg, rgba(222, 196, 58, 0.96) 1.18%, rgba(245, 9, 123, 0.96) 97.3%);
}

body {
  font-size: 16px;
  font-family: 'Archivo';
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  /* height: fit-content; */
}

/* NAV BAR */
nav {
  background: white;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  /* max-width: 1200px; */
  margin: 0 auto;
  height: 140px;
  margin-bottom: 20px;
}

nav h1 {
    /* font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;  */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

nav ul {
    display: inline-block;
    font-size: 1.6rem;
    /* font-weight: 700;  */
    font-weight: 400;
    letter-spacing: 2px;
}

nav ul li {
  display: inline;
}

nav ul li:nth-child(2) {
  margin-left: 20px;
}

nav ul li a:visited {
  color: #111;
}

a {
    color: #111;
    text-decoration: none;
}

a.gradient-hover:hover {
    /* color: var(--main-gradient); */
    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/* CONTAINER and MAIN CONTENT */
.container {
  position: relative;
  width: 80%;
  /* max-width: 100px; */
  margin: 0 auto;
  /* margin-bottom: 6rem; */
}

#main-content h1 {
  font-size: 3.5rem;
  margin-top: 10rem;
}

br {
    display: block;
    margin: 0.7rem;
}

strong {
    font-weight: 700; 
}

.landing-info {
    font-size: 1.2rem;
    /* line-height: 2.2rem; */
    /* max-width: 80%; */
    margin-top: 1rem;
    color: #000;
    font-family: Montserrat;
    font-weight: 400;
    margin-bottom: 3rem;
}

.work-list {
  padding-bottom: 2rem;
}

.work-list-head {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.work-list-head h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.work-list-head a {
    color: #999;
}

.work-list ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* row-gap: 2rem; */
  margin-top: 1.4rem;
}

.work-list li {
  width: 22%;
  list-style: none;
  position: relative;
}

.work-list img {
  /* border-radius: 5px; */
  width: 100%;
}

.work-list .img-overlay {
    position: absolute;
    content: "&nbsp";
    width: 100%;
    height: calc(100% - 2.1rem);
    top: 0;
    left: 0;
    z-index: 10;
    background: var(--main-gradient);
    opacity: 0;
    color: transparent;
    transition: all 0.2s ease-out;
}

.work-list a:hover > .img-overlay {
    left: -4%;
    top: -3%;
    color: white;
    opacity: 1;
    width: 108%;
    height: 108%;
}

.work-list a:hover > img {
    filter: saturate(10%) contrast(150%);
    opacity: 0.8;
}

.project-card a, .project-card a:visited {
  color: #111;
  font-size: 1.5rem;
  text-decoration: none;
}

.project-card .title {
    margin-top: 0.6rem;
    /* margin-left: 1rem; */
    /* text-decoration: underline; */
    color: #000;
    font-size: 1.5rem;
    font-family: Archivo;
    font-weight: 700;
    z-index: 20;
    position: relative;
    transition: all 0.3s ease-out;
}

.work-list a:hover .title {
    color: white;
    margin-left: 0.5rem;
}

.project-card .description {
    position: absolute;
    /* left: 1rem; */
    font-weight: 300;
    bottom: 3rem;
    z-index: 20;
    color: white;
    opacity: 0;
    transition: all 0.3s ease-out;
    left: 0.5rem;
}

.work-list a:hover .description {
    opacity: 1;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

footer .social-links a {
  color: #111;
  text-decoration: none;
  padding-left: 0.5rem;
  vertical-align: middle;
  font-size: 1.2rem;
}

footer .social-links a:visited {
  color: #111;
}

footer .social-links a:hover {
  color: #aaa;
}

footer img {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 3px;
}

.mobile-show {
    display: none;
}

/* Mobile styles */
@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  nav {
    flex-direction: column;
    margin-top: 20px;
    justify-content: flex-start;
    row-gap: 20px;
    height: 100px;
  }

  #project-list ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    row-gap: 2rem;
    margin-top: 2rem;
  }

  #project-list li {
    width: 100%;
  }

  #main-content h1 {
    font-size: 2.5rem;
    margin-top: 10rem;
  }

  .landing-info {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .work-list-head {
    align-items: center;
    flex-direction: column;
  }

  .work-list-head a {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
  }

  footer {
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }

  footer .social-links a {
    font-size: 0.9rem;
  }

  .container {
    margin-bottom: 3rem;
  }

  .work-list ul {
    flex-direction: column;
  }

  .work-list li {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .mobile-show {
    display: inline;
  }
}
