/* Z-INDEX KEY

20 - Nav?
10 - Modals
0 - everything else

*/

/* Reset section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', monospace;
}

li {
  list-style-type: none;
}

.hidden {
  display: none !important;
}

.section-head {
  width: 100%;
  color: #8a8a8a;
  font-weight: 100;
  /* letter-spacing: 3px; */
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, #fafafa 100%), url("../img/hero-background.jpg") no-repeat center center;
  background-size: cover;
  height: 99vh;
  width: 100vw;
  padding-top: 35vh;
}

.hero h1 {
  display: block;
  text-align: center;

  width: 300px;
  height: 80px;

  color: #fafafa;
  background: #1a1a1a;

  margin: 0 auto;
  padding-top: 18px;
  font-size: 40px;
  letter-spacing: 3px;
}

.nav {
  position: relative;
  display: block;
  text-align: center;
  width: 300px;
  height: 40px;

  background: #fafafa;

  margin: 0 auto;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 100;
}

.nav.is-stuck {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0px 0.1px 1px 0px #8a8a8a;
}

.nav a {
  color: #8a8a8a;
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
}

.nav a:hover {
  color: #1a1a1a;
  cursor: pointer;
}

/* Bio stuff */
.bio {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.bio-col-1 {
  display: inline-block;
  width: 15%;
  min-width: 192px;
}

.bio-col-2 {
  display: inline-block;
  width: 40%;
  /* padding-top: 40px; */
}

.bio-heading {
  font-size: 30px;
  margin-bottom: 10px;
}

.bio-img {
  width: 100%;
}

.bio-text {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  /* color: #8a8a8a; */
}

/* Footer stuff :3 */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-top: 1px solid #8a8a8a; */

  height: 60px;
  background: #eaeaea;
  color: #8a8a8a;
  font-size: 18px;
}

.copyright {
  font-weight: 100;
  display: inline-block;
  margin-left: 30px;
}

.footer-link-container {
  max-width: 400px;
  display: inline-block;
  margin-right: 30px;
}

.footer-link {
  color: #8a8a8a;
  font-size: 24px;
  margin-left: 10px;
}

.footer-link:hover {
  color: #1a1a1a;
}