/* Z-INDEX KEY

20 - Modals?
10 - nav
0 - everything else

*/

/* Reset section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', monospace;
}

li {
  list-style-type: none;
}

.hero {
  background: url("../img/hero-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 95vh;
  width: 100vw;
  padding-top: 35vh;
}

.hero h1 {
  /* text-align: center; */
  display: block;
  text-align: center;

  width: 300px;
  height: 80px;

  color: #fafafa;
  background: #1a1a1a;

  margin: 0 auto;
  padding-top: 18px;
  font-size: 40px;
  letter-spacing: 3px;
}

.nav {
  position: relative;
  display: block;
  text-align: center;
  width: 300px;
  height: 40px;

  background: #fafafa;

  margin: 0 auto;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 100;
}

.nav.is-stuck {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav a {
  color: #8a8a8a;
  display: inline-block;
  margin: 0 15px;
}

.nav a:hover {
  color: #1a1a1a;
  cursor: pointer;
}
/* 
.nav-bar {
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 0;
  left: 0;

  width: 80px;
  height: 100%;
  background-color: #1a1a1a;
  text-align: center;
  padding: 0 0 0 0;

  z-index: 10;
}

.nav {
  padding-top: 30px;
}

.nav-item {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.nav-item-link {
  color: #fafafa;
  letter-spacing: 0.5px;
}

.hidden {
  display: none !important;
} */