$font-giant: 40px;
$font-s-giant: 25px;
$font-lg: 20px;
$font-sl: 16px;
$font-md: 14px;
$font-sm: 12px;

// colors
$blue: blue;
$dark-gray: #26383D;
$light-gray: #E3E3E3;
$medium-gray: #9E9E9E;
$text-dark: #00161C;
$text-default: #00161C;
$text-light: gray;
$text-invert: #E6FDFF;
$footer-background: gray;
$white: #FAFAFA;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.home-page {
  font-family: "Montseratt", sans-serif;
}

@import "header";
@import "footer";
@import "project-links";
@import "projectOverlay";
