.container {
    color: #000;
    font-size: 1.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    max-width: 90%;
    width: 90%;
}

.project-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    margin: 0 0 3rem 0;
    width: 100%;
}

.center-items {
    justify-content: space-around;
}

.right-items {
    justify-content: flex-end;
}

.twenty-percent {
    width: calc(20% - 1rem);
}

.forty-percent {
    width: calc(40% - 1rem);
}

.sixty-percent {
    width: calc(60% - 1rem);
}

.eighty-percent {
    
}

.full-width {
    width: 100%;
}

iframe {
    height: 60vh;
}

.project-page a {
    color: #00B2FF;
}

.project-page a:visited {
    /* color: #99afb8; */
    color: #00B2FF;
}

.project-page br {
    margin: 0;
}

.project-page p {
    margin-bottom: 2rem;
}

.project-page .link-line {
    display: block;
}

.give-space {
    margin: 2rem 0;
}

.is-gray {
    color: #999;
}

/* .project-page img {
    width: 100%;
} */

.project-page h2 {
    font-family: Archivo;
    font-weight: 700;
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
    line-height: 1.4rem;
}

img {
    object-fit: cover;
}

.center-text {
    vertical-align: middle;
    height: 100%;
}
