.projects {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 80px; */
  width: 100%;
}

.preview {
  display: inline-block;
  margin: 0;
  font-family: 'Roboto', monospace;
  width: 25vw;
  height: 25vw;
  position: relative;
  overflow: hidden;
}

.preview-link-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.preview-link-text {
  display: inline-block;
  position: absolute;
  /* text-align: center; */
  /* left: -50%; */
  top: 60%;
  z-index: 3;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;

  color: #1a1a1a;
  background: #fafafa;

  padding: 10px 10px 10px 20px;
  font-size: 18px;
  letter-spacing: 1px;

  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);

  transition: left 0.2s ease;
}

.preview-link-text:hover {
  color: #d800a5;
}

/* details */
.details {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 50px;
  /* border-top: 0.1px solid #aaaaaa; */
  padding-left: 20%;
  padding-right: 20%;
  z-index: 10;
  background: #fafafa;
  font-weight: 300;
}

.detail-title {
  font-size: 30px;
  margin-bottom: 10px;
  /* font-weight: 300; */
}

.detail-time {
  font-size: 16px;
  font-weight: 100;
  color: #8a8a8a;
  margin-bottom: 30px;
}

.detail-desc {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.detail-media {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.detail-subhead {
  font-weight: 500;
}

