.projects {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 80px; */
  width: 100%;
}

.preview {
  display: inline-block;
  margin: 0;
  font-family: 'Roboto', monospace;
  width: 25vw;
  height: 25vw;
  position: relative;
  overflow: hidden;
}

.preview-link-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.preview-link-text {
  display: inline-block;
  position: absolute;
  /* text-align: center; */
  /* left: -50%; */
  top: 60%;
  z-index: 3;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;

  color: #1a1a1a;
  background: #fafafa;

  padding: 10px 10px 10px 20px;
  font-size: 18px;
  letter-spacing: 1px;

  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);

  transition: left 0.2s ease;
}

/* .preview-link-text::after {
  display: inline-block;
  position: absolute;

  left: -50%;
  top: 40%;
  z-index: 3;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
  background: #fafafa;

  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);

  transition: left 0.2s ease;
} */

/* .preview:hover .preview-link-text {
  left: 0;
}

.preview:hover .preview-link-text::after {
  left: 0;
} */


/* .preview:nth-child(2n+0) {
  margin-right: 0;
}

@media only screen and (max-width: 849px) {
  .preview {
    margin-right: 0px;
    margin-left: 0px;
  }
  
} */
